<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>173855189557-5k6liadjrng4efqtmb9kkt9msckdb8qo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.173855189557-5k6liadjrng4efqtmb9kkt9msckdb8qo</string>
	<key>API_KEY</key>
	<string>AIzaSyDI44HAKt3UOXzgP0gCkuLYvmRCeIeLbt4</string>
	<key>GCM_SENDER_ID</key>
	<string>173855189557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cbarato.shoppingmodel</string>
	<key>PROJECT_ID</key>
	<string>appflutter-f5edb</string>
	<key>STORAGE_BUCKET</key>
	<string>appflutter-f5edb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:173855189557:ios:a0ac2bf6749c459ecadf7c</string>
	<key>DATABASE_URL</key>
	<string>https://appflutter-f5edb.firebaseio.com</string>
</dict>
</plist>